*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Karla';
}
:root{
    --main-color: #ffd73c;
    --primary-color: #050505;
	--secondary-color: #d8222f;
	--White: #ffffff;
    --gray: #757575;
}
.w-1{
    width :8.33%;
}
.w-2{
    width :16.66%;
}
.w-3{
    width :25%;
}
.w-4{
    width :33.33%;
}
.w-5{
    width :41.66%;
}
.w-6{
    width :50%;
}
.w-7{
    width :58.33%;
}
.w-8{
    width :66.66%;
}
.w-9{
    width :75%;
}
.w-10{
    width :83.33%;
}
.w-11{
    width :91.66%;
}
.w-12{
    width :100%;
}
.transition-3{
    transition: all 0.3s;
}
.position-rel{
    position: relative;
}
.position-abs{
    position: absolute;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.mr-0{
    margin-right: 0px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-60{
    margin-bottom: 60px;
}
a{
    text-decoration: none;
}
ol,ul{
    list-style: none;
    padding: 0;
}
.flex-dir-col{
    flex-direction: column;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: end;
}
.align-items-center{
    align-items: center;
}
/* back to top btn */
.back-top .btn{
    padding: 9px 13px;
    font-size: 20px;
    background-color: var(--primary-color);
    position: fixed;
    right: 10px;
    bottom: 67px;
    z-index: 5;
}
.back-top .btn a{
    color: var(--White);
}
.back-top .btn:hover a{
    color: var(--primary-color);
}
.back-top .btn:hover{
    background-color: var(--main-color);
}
/* Scrollbar */
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#050505);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#ffd73c);
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 1140px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
.row{
    margin-left: -16px;
    margin-right: -16px;
}
.top-bar{
    padding: 15px 0px;
}
.top-bar a{
    font-size: 16px;
    color: var(--primary-color);
    transition: all 0.3s;
}
.top-bar .logo{
    width: 20%;
}
.top-bar .logo img{
    display: block;
}
/* main heading */
.main-head .row{
    background-color: var(--primary-color);
    padding: 15px 0px;
}
.main-head .menu ul a{
    display: inline-block;
    padding: 8px 15px;
    color: var(--White);
    transition: all 0.3s;
}
.main-head .menu ul a:hover i{
    rotate: 180deg;
}
.main-head .menu ul .home{
    color: var(--main-color);
    color: #ffd73c;
}
.main-head .menu ul a:hover{
    color: var(--main-color);
}
.top-bar .menu a:hover{
    color: var(--secondary-color);
}
.ham-burger{
    color: var(--White);
}
/* Drop-down */
.dropdown-menu{
    position: relative;
}
.dropdown{
    position: absolute;
    top: 45px;
    left: 0px;
    min-width: 200px;
    min-height: 100px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0%;
    transition: all 0.5s;
    z-index: 1000;
}
.dropdown li{
    border-bottom: 1px solid var(--White);
    transition: all 0.3s;
    background-color: var(--primary-color);
}
.menu .dropdown li a{
    color: var(--White);
    display: block;
    padding: 15px;
    transition: all 0.3s;
    text-transform: capitalize;
    font-size: 14px;
}
.dropdown li:hover a{
    color: var(--main-color);
}
.dropdown li .home1{
    color: var(--main-color);
}
.menu .dropdown-menu:hover .dropdown{
    visibility: visible;
    opacity: 100%;
    top: 60px;
}
.menu .dropdown .active a{
    color: var(--main-color);
}
/* mega menu  */
.mega-menu{
    width: 100%;
    object-fit: cover;
    background-color: var(--primary-color);
    visibility: hidden;
    opacity: 0;
    left: 0;
    top: 50px;
    box-shadow: 0px 0px 10px 1px #0e14003a;
    transition: all 0.5s;
    z-index: 1000;
}
.mega:hover .mega-menu{
    visibility: visible;
    opacity: 1;
    top: 60px;
}
.mega-menu .list div{
    padding: 10px 0px 10px 10px;
}
.mega-menu :last-child div{
    padding-right: 10px;
}
.mega-menu .list img{
    width: 100%;
    object-fit: cover;
}
.mega-menu .list .box{
    color: var(--Black);
    background-color: var(--main-color);
}
.mega-menu .list .box .pn{
    text-transform: capitalize;
    font-size: 16px;
    color: var(--primary-color);
}
.mega-menu .list .box .pn{
    transition: all 0.5s;
    padding: 0;
}
.mega-menu .list .pn:hover{
    color: var(--White);
}
/* some text */
.text span{
    display: inline-block;
    font-weight: 600;
}
.text{
padding: 15px 0px;
}
.text div{
    padding: 10px 0px;
}
/* banner */
.banner{
    background-image: url(../image/slider1.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    text-transform: capitalize;
    animation-name: bg-change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
.banner .left-btn,.right-btn{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--White);
    text-align: center;
    line-height: 40px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
    cursor: pointer;
}
.left-btn{
    left: 1%;
}
.right-btn{
    right: 1%;
}
.left-btn:hover,.right-btn:hover{
    background-color: var(--main-color);
    color: var(--primary-color);
}
.banner-content{
    background-color: rgba(255, 255, 255, 0.642);
    padding: 20px;
}
.banner-content h1,.banner-content h2,.banner-content h3{
    text-align: center;
}
.banner-content h1{
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-content h2{
    font-size: 24px;
    color: var(--secondary-color);
    margin-bottom: 30px;
    font-weight: 400;
}
.banner-content h3{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 35px;
    font-weight: 400;
}
.btn{
    font-family: 'Karla';
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 30px;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--primary-color);
    font-weight: 600;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}
.banner-content .btn{
    display: block;
    margin: 0 auto;
}
.btn:hover{
    background-color: var(--primary-color);
    color: var(--White);
}
@keyframes bg-change {
    0%{
        background-image: url(../image/slider1.jpg);
    }
    50%{
        background-image: url(../image/slider2.jpg);
    }
    100%{
        background-image: url(../image/slider3.jpg);
    }
}
/* shop by catagories */
.shop h2{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 50px;
}
.shop .tools{
    padding: 30px;
}
.shop .tool .heading a{
    font-size: 24px;
    background-color: var(--primary-color);
    color: var(--White);
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 85px;
    font-weight: 600;
    border-radius: 50px 7px 7px 50px;
    transition: all 0.5s;
}
.shop .tool .heading a:hover{
    color: var(--main-color);
}
.shop .tool .heading .icon{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: var(--main-color);
    transform: translate(-0.7%,-90%);
    position: absolute;
}
.shop .tool .heading .icon img{
    padding: 15px;
}
.shop .tool .content{
    padding-top: 70px;
    justify-content: space-between;
}
.shop .tool .content .text{
    flex-direction: column;
}
.shop .tool .content img{
    width: 100%;
    object-fit: cover;
}
.shop .tool .content .text ul a{
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 500;
    transition: all 0.5s;
}
.shop .tool .content .text ul a:hover{
    color: var(--secondary-color);
}
.shop .tool .content .text ul li{
    padding-bottom: 15px;
    padding-right: 10px;
}
/* Offers */
.f-offer,.s-offer{
    align-items: center;
}
.f-offer img,.s-offer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.offers .offer-content{
    right: 45px;
}
.offers .offer-content a{
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 600;
}
.offers .offer-content span{
    display: inline-block;
}
.offers .offer-content h6{
    font-size: 18px;
    padding: 10px 15px;
    color: var(--primary-color);
    background-color: var(--main-color);
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}
.offers .offer-content p{
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 15px;
}
.offers .offer-content .per{
    color: var(--secondary-color );
}
/* FEATURED PRODUCTS */
.products h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 85px;
}
.p-content::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px #0000002f;
    transition: all 0.3s;
    z-index: -1;
    box-sizing: content-box;
    visibility: hidden;
    opacity: 0;
}
.p-content:hover:before{
    visibility: visible;
    opacity: 1;
    padding: 19px;
}
.p-content{
    padding:20px;
}
.p-content .sale{
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: var(--main-color);
    margin: 8px;
    font-size: 10px;
    text-align: center;
    line-height: 30px;
}
.image .icons{
    right: -25px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0;
}
.image:hover .icons{
    right: -15px;
    opacity: 1;
    z-index: 1;
}
.image .copy ,.like ,.search{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--White);
    margin: 7px;
    text-align: center;
    line-height: 40px;
    transition: all 0.5s;
}
.image .copy:hover,.image .like:hover,.image .search:hover{
    background-color: var(--main-color);
}
.p-content .image{
    width: 100%;
    margin-bottom: 30px;
}
.p-content .image img,.img2{
    width: 100%;
}
.p-content .image .img2{
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all 1s;
}
.p-content .image:hover .img2{
    opacity: 1;
}
.p-content .content{
    text-align: center;
}
.p-content .content a{
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 600;
}
.p-content .content a:hover{
    color: var(--main-color);
}
.p-content .content p{
    padding-top: 14px;
    padding-bottom: 14px;
}
.p-content .content span{
    color: var(--secondary-color);
    font-size: 18px;
}
.p-content .content h3{
    color: var(--main-color);
    padding-top: 12px;
    padding-bottom: 12px;
}
.p-content .content .btn{
    background-color: var(--primary-color);
    color: var(--White);
}
.p-content .content .btn:hover{
    background-color: var(--main-color);
    color: var(--primary-color);
}
/* asset tools */
.asset-tools .tool img{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    padding: 10px;
}
.asset-tools .t-content{
    height: 100%;
    padding: 50px;
}
.asset-tools .t-content a{
    font-size: 30px;
    color: var(--White);
    font-weight: 600;
    transition: all 0.5s;
}
.asset-tools .t-content a:hover{
    color: var(--main-color);
}
.col1 .t-content h4{
    background-color: var(--primary-color);
    text-align: center;
    margin: 15px 0px;
}
.col2 .row2 .t-content h4,.col2 .row2 .t-content a{
    color: var(--primary-color);
}
.asset-tools .t-content h4{
    padding: 10px 0px;
    color: var(--White);
    font-weight: 500;
}
/* clients */
.clients{
    background-color: #E9E9E9;
}
.clients .client{
    padding: 50px 0px;
}
.clients .client img{
    display: block;
    margin: 0 auto;
    transition: all 0.3s;
    filter: brightness(0.6);
}
.clients .client img:hover{
    filter: brightness(0.2);
    scale:calc(1.1);
}
/* Blogs */
.blogs .blog{
    padding: 0px 12px;
}
.blogs .blog:hover img{
    scale: calc(1.3);
    transform: rotate(10deg);
}
.blogs .b-img{
    overflow: hidden;
    height: 300px;
    border-radius: 5px;
}
.blogs .b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}
.blogs .b-content p{
    color: #555555;
    text-align: center;
    padding: 20px 0px;
    line-height: 25px;
}
.blogs .b-content a{
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 600;
    transition: all 0.3s;
    text-align: center;
}
.blogs .b-content a:hover{
    color: var(--secondary-color);
}
.blogs .b-content .btn{
    background-color: var(--primary-color);
    color: var(--White);
}
.blogs .b-content .btn:hover{
    background-color: var(--main-color);
    color: var(--primary-color);
}
.dots{
    margin-top: 30px;
}
.dots .dot{
    width: 15px;
    height: 15px;
    background-color:var(--gray);
    border-radius: 50%;
    margin: 0px 3px;
}
.dots :first-child{
    background-color: var(--main-color);
}
/* Updates */
.updates{
    background-color: var(--primary-color);
    padding: 30px 0px ;
}
.updates .heading h2{
    text-align: center;
    font-size: 30px;
    color: var(--White);
    font-weight: 600;
    line-height: 48px;
}
.updates .content-input .input-feild{
    border: none;
    outline: none;
    padding: 18px 180px 18px 30px;
    border-radius: 5px;
    margin-right: 7px;
}
.updates .content-input .btn:hover{
    background-color: var(--White);
    color: var(--primary-color);
}
/* Services */
.services .service .content .heading h5{
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 600;
}
.services .service{
    justify-content: space-between;
    padding:50px 35px;
}
.services .service .icon i{
    font-size: 35px;
    line-height: 52px;
}
hr{
    opacity: 0.3;
}
/* contect */
.contect-content a{
    display: block;
}
.contect-content .logo img{
    height: 50px;
    padding-bottom: 10px;
}
.contect-content .content p,.contect-content .content a{
    line-height: 30px;
    color: #555555;
    transition: all 0.3s;
}
.contect-content .content a:hover{
    color: var(--secondary-color);
}
.contect-content .content i{
    font-size: 12px;
}
.contect-content .heading h5{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}
/* footer-bottom */
.f-bottom{
    background-color: var(--primary-color);
    padding: 20px;
}
.f-bottom .row{
    padding: 0;
}
.f-bottom p, p a,.f-bottom .icons i{
    color: var(--White);
    transition: all 0.3s;
    cursor: pointer;
}
.f-bottom p a:hover{
    color: var(--secondary-color);
}
.f-bottom .icons i{
    font-size: 15px;
    padding-right: 15px;
}
.f-bottom .icons i:hover{
    color: var(--secondary-color);
}